{{ define "main" }}
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>
</head>

<section class="section">
  <!-- Scientific Writing Tips -->
  <h1 class="section-title">Scientific Writing Tips</h1>
  <div class="resources-section">
    {{ range .Params.scientific }}
    <div class="resources-row">
      <span class="resources-title">{{ .name }}</span>
      <p>{{ .description }}</p>
    </div>
    {{ end }}

    <!-- Read More -->
    <div class="read-more-row">
      <button>Read More</button>
    </div>
  </div>
</section>

<section class="section">
  <!-- Teaching Resources -->
  <h1 class="section-title">Teaching Resources</h1>
  <div class="resources-section">
    {{ range .Params.resources }}
    <div class="resources-row">
      <span class="resources-title">{{ .name }}</span>
      <p>{{ .description }}</p>
    </div>
    {{ end }}

    <!-- Read More -->
    <div class="read-more-row">
      <button>Read More</button>
    </div>
  </div>
</section>
{{ end }}
