{{ define "main" }}
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>
</head>

<section class="section">
  <!-- Outreach -->
  <div class="section-title">Outreach</div>
  <div class="service-section">
    {{ range .Params.outreach }}
    <div class="service-row">
      <span class="service-title">{{ .name }}</span>
      <p>{{ .description }}</p>
    </div>
    {{ end }}
  </div>
</section>

<section class="section">
  <!-- Mentorship -->
  <div class="section-title">Mentorship</div>
  <div class="service-section">
    {{ range .Params.mentorship }}
    <div class="service-row">
      <span class="service-title">{{ .name }}</span>
      <p>{{ .description }}</p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
