.lab-team-container {
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.lab-director,
.current-members,
.collaborators {
  margin-bottom: 3rem;
}

.profile-link {
  display: block; /* Ensures the entire container is clickable */
  text-decoration: none; /* Removes underline from the link */
  color: inherit; /* Inherits text color */
}

.director-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.director-profile:hover {
  background-color: #f5f5f5; /* Optional: Add a hover effect */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.member-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-picture {
  width: 210px;
  height: 210px;
  background-color: #d3d3d3;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  font-family: DM Sans;
  font-size: 1.875rem;
  color: #859ea0;
  margin: 0.5rem;
}

p {
  font-family: DM Sans;
  font-size: 1.5rem;
  margin: 0.5rem;
}
