.join-us-section {
  display: flex;
  margin: 20px 20px 40px;
}

.group-picture {
  width: 403px;
  height: 303px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.join-us-text {
  display: flex;
  flex-direction: column;
}

.join-us-row {
  display: flex;
  justify-content: center;
}

.join-us-row button {
  background-color: #2f4e6b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.sub-title {
  font-family: Exo;
  font-size: 36px;
  color: #752718;
  font-weight: 900;
  text-align: center;
}

.sub-sub-title {
  font-family: Exo;
  font-size: 28px;
  color: #dc7049;
  margin: 1rem 1rem 0;
  display: inline-block;
}

.module-based-research {
  margin: 0 1rem;
  text-decoration: none;
}

.module-based-research-link {
  color: black;
}
