.section {
  margin: 40px 80px;
}
.section-title {
  font-family: Exo;
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
  color: #2f4e6b;
  font-weight: 900;
}
.research-row.reverse {
  flex-direction: row-reverse;
}
.research-row {
  display: flex;
  align-items: center;
  margin: 20px 20px;
}
.research-link {
  display: block; /* Ensures the entire container is clickable */
  text-decoration: none; /* Removes underline from the link */
  color: inherit; /* Inherits text color */
}
.research-image {
  margin: 0 20px;
  height: 210px;
  width: 210px;
  align-content: center;
}
.research-image img {
  width: 100%;
  height: auto;
}
.research-text {
  font-family: DM Sans;
  font-size: 24px;
  flex: 0 0 80%;
}
.project-row {
  margin: 20px 20px;
}
.project-title {
  font-family: Exo;
  font-size: 28px;
  margin-bottom: 10px;
  color: #752718;
  font-weight: 900;
}
.project-content {
  display: flex;
}
.project-description {
  flex: 0 0 80%;
  padding-right: 10px;
}
.read-more {
  flex: 0 0 20%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.read-more button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.read-more button:hover {
  background-color: #0056b3;
}
.publication-row {
  display: flex;
  margin: 20px 20px;
}
.publication-year {
  font-family: Exo;
  color: #752718;
  font-size: 36px;
  flex: 0 0 20%;
  font-weight: 900;
  padding-right: 10px;
}
.publication-studies {
  flex: 0 0 80%;
}
.study-row {
  margin-bottom: 30px;
}
.study-name {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 18px;
}
.study-description {
  font-family: DM Sans;
  font-size: 18px;
}
.research-theme-description {
  align-items: center;
}
.relevant-work {
  border: 2px solid #d9cba9; /* Adds a border around the section */
  border-radius: 10px; /* Makes the border rounded */
  padding: 20px; /* Adds spacing inside the border */
  margin-bottom: 20px; /* Adds spacing below the section */
}
.relevant-work-title {
  font-family: Exo;
  font-size: 36px;
  color: #752718;
  font-weight: 900;
}
.relevant-work-list {
  list-style-type: disc; /* Adds bullet points */
  padding-left: 20px; /* Ensures bullets align with the title */
  margin: 0;
}
.relevant-work-list li {
  margin-bottom: 10px; /* Adds space between bullet points */
}
