.teaching-section,
.workshop-section,
.experience-section {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: flex-start;
  margin: 20px 20px 40px;
}

.teaching-row,
.workshop-row {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: flex-start;
  margin: 10px 20px;
}

.teaching-title,
.workshop-title {
  font-family: Exo;
  font-size: 36px;
  color: #752718;
  margin: 1rem;
  font-weight: 900;
}

.teaching-course {
  font-family: Exo;
  font-size: 28px;
  color: #dc7049;
  text-decoration: underline;
}

.workshop-course {
  font-family: Exo;
  font-size: 28px;
  color: #dc7049;
}

.teaching-link {
  text-decoration: none;
  font-weight: 900;
}

.teaching-course-content,
.workshop-course-content {
  font-family: DM Sans;
  font-size: 18px;
}

.workshop-inquiry {
  font-weight: bold;
  font-style: italic;
}

.experience-row {
  display: flex;
  width: 100%;
  margin: 20px 20px;
}

.experience-column {
  width: 50%;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
}

.experience-role-title {
  font-family: Exo;
  font-size: 28px;
  color: #752718;
  font-weight: 900;
}

.experience-details {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.experience-description {
  font-family: DM Sans;
  font-size: 18px;
}
