{{ define "main" }}
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
  />
</head>

<div class="layout-container">
  <!-- Profile Row -->
  <div class="row first-row">
    <!-- Profile Column -->
    <div class="column first-column">
      <div class="director-profile">
        <img
          src="{{ .Params.picture }}"
          alt="{{ .Title }}"
          class="profile-picture"
        />
        <div class="profile-details">
          <h3>{{ .Params.name }}</h3>
          <p>{{ .Params.position }}</p>
          <p>{{ .Params.institution }}</p>
        </div>
      </div>
      <!-- Icons Row -->
      <div class="contact-icons">
        <a href="mailto:{{ .Params.email }}" style="align-content: center"
          ><i class="fa fa-envelope" style="color: #328cc1; font-size: 2rem"></i
        ></a>
        <a href="{{ .Params.twitter }}"
          ><i class="fa fa-twitter" style="color: #328cc1; font-size: 2rem"></i
        ></a>
        <a href="{{ .Params.googlescholar }}"
          ><i
            class="ai ai-google-scholar"
            style="color: #328cc1; font-size: 2rem"
          ></i
        ></a>
        <a href="{{ .Params.orcid }}"
          ><i class="ai ai-orcid" style="color: #328cc1; font-size: 2rem"></i
        ></a>
        <a href="{{ .Params.osf }}"
          ><i class="ai ai-osf" style="color: #328cc1; font-size: 2rem"></i
        ></a>
      </div>
      <!-- CV Button Row -->
      <div class="cv-button-row">
        <button onclick="window.open('{{ .Params.cv }}')">View CV</button>
      </div>
    </div>
    <!-- Profile Description Column -->
    <div class="column second-column">
      <h1>Hello!</h1>
      <p>{{ .Content }}</p>
    </div>
  </div>

  <!-- Interests Row -->
  <div class="row second-row">
    <h2 class="section-title">Interests</h2>
    <ul class="interests-list">
      {{ range .Params.interests }}
      <li><p>{{ . }}</p></li>
      {{ end }}
    </ul>
  </div>

  <!-- Education Row -->
  <div class="row third-row">
    <h2 class="section-title">Education</h2>
    <ul class="education-list">
      {{ range .Params.education }}
      <li>
        <p><b>{{ .degree }}, {{ .year }}</b></p>
      </li>
      <li style="list-style: none"><p>{{ .institution }}</p></li>
      {{ end }}
    </ul>
  </div>

  <!-- Contacts Row -->
  <div class="row third-row">
    <h2 class="section-title">Contact Me</h2>
    <ul class="contact-list">
      {{ range .Params.contact }}
      <li><p>{{ . }}</p></li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
