{{ define "main" }}
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>
</head>

<div class="lab-team-container">
  <!-- Lab Director Section -->
  <section class="lab-director">
    <h2>Lab Director</h2>
    <a href="{{ site.BaseURL }}/about/lab-director" class="profile-link">
      <div class="director-profile">
        <img
          src="/images/people/prof-kean.png"
          alt="Lab Director"
          class="profile-picture"
        />
        <div class="profile-details">
          <h3>Kean J. Hsu, Ph.D.</h3>
          <p>Assistant Professor</p>
          <p>Georgetown University</p>
        </div>
      </div>
    </a>
  </section>

  <!-- Current Members Section -->
  <section class="current-members">
    <h2>Current Members</h2>
    <div class="members-grid">
      {{ range .Site.Data.members.current }}
      <a
        href="{{ .site.BaseURL }}/about/member/{{ .slug }}"
        class="profile-link"
      >
        <div class="member-profile">
          <img
            src="/images/people/member/{{ .slug }}.png"
            alt="{{ .name }}"
            class="profile-picture"
          />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Collaborators Section -->
  <section class="collaborators">
    <h2>Collaborators</h2>
    <div class="members-grid">
      {{ range .Site.Data.members.collaborators }}
      <a
        href="{{ .site.BaseURL }}/about/collaborator/{{ .slug }}"
        class="profile-link"
      >
        <div class="member-profile">
          <img
            src="/images/people/collaborator/{{ .slug }}.png"
            alt="{{ .name }}"
            class="profile-picture"
          />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Alumni Section -->
  <section class="alumni">
    <h2>Alumni</h2>
    <div class="members-grid">
      {{ range .Site.Data.members.alumni }}
      <a
        href="{{ .site.BaseURL }}/about/alumni/{{ .slug }}"
        class="profile-link"
      >
        <div class="member-profile">
          <img
            src="/images/people/alumni/{{ .slug }}.png"
            alt="{{ .name }}"
            class="profile-picture"
          />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Lab Culture Section -->
  <section class="lab-culture">
    <h2>Lab Culture</h2>
  </section>
</div>
{{ end }}
