{{ define "main" }}
<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>
</head>

<div class="lab-team-container">
  <!-- Lab Director Section -->
  <section class="lab-director" id="lab-director">
    <span class="section-title">Lab Director</span>
    <a href="lab-director" class="profile-link">
      <div class="director-profile">
        <img src={{ "images/people/prof-kean.png" | relURL }} alt="Lab Director"
        class="profile-picture" />
        <div class="profile-details">
          <h3>Kean J. Hsu, Ph.D.</h3>
          <p>Assistant Professor</p>
          <p>Georgetown University</p>
        </div>
      </div>
    </a>
  </section>

  <!-- Current Members Section -->
  <section class="current-members" id="current-members">
    <span class="section-title">Current Members</span>
    <div class="members-grid">
      {{ range .Site.Data.members.current }}
      <a href="member/{{ .slug }}" class="profile-link">
        <div class="member-profile">
          <img src={{ printf "images/people/member/%s.png" .slug | relURL }}
          alt="{{ .name }}" class="profile-picture" />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Collaborators Section -->
  <section class="collaborators" id="collaborators">
    <span class="section-title">Collaborators</span>
    <div class="members-grid">
      {{ range .Site.Data.members.collaborators }}
      <a href="collaborator/{{ .slug }}" class="profile-link">
        <div class="member-profile">
          <img src={{ printf "images/people/collaborator/%s.png" .slug | relURL
          }} alt="{{ .name }}" class="profile-picture" />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Alumni Section -->
  <section class="alumni" id="alumni">
    <span class="section-title">Alumni</span>
    <div class="members-grid">
      {{ range .Site.Data.members.alumni }}
      <a href="alumni/{{ .slug }}" class="profile-link">
        <div class="member-profile">
          <img src={{ printf "images/people/alumni/%s.png" .slug | relURL }}
          alt="{{ .name }}" class="profile-picture" />
          <h3>{{ .name }}</h3>
          <p>{{ .position }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </section>

  <!-- Lab Culture Section -->
  <section class="lab-culture" id="lab-culture">
    <span class="section-title">Lab Culture</span>
  </section>
</div>
{{ end }}
