<head>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet" />
  <style>
    body {
      font-family: "Exo";
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=DM Sans"
    rel="stylesheet"
  />
  <style>
    body {
      font-family: "DM Sans";
    }
  </style>
</head>

<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <a href="{{ "/" | relLangURL }}">
      <img src="{{ "images/CTS-logo.png" | relURL }}" alt="Site Logo" class="logo">
    </a>
  </div>
  <ul class="nav-list">
    <!-- About -->
    <li class="nav-item dropdown">
      <a href="{{ "/about/" | relLangURL }}">About</a>
      <ul class="dropdown-menu">
        <li><a href="/about#lab-director">Lab Director</a></li>
        <li><a href="/about#current-members">Current Members</a></li>
        <li><a href="/about#collaborators">Collaborators</a></li>
        <li><a href="/about#alumni">Alumni</a></li>
        <li><a href="/about#lab-culture">Lab Culture</a></li>
      </ul>
    </li>

    <!-- Research -->
    <li class="nav-item dropdown">
      <a href="{{ "/research/" | relLangURL }}">Research</a>
      <ul class="dropdown-menu">
        <li><a href="/research#research-themes">Research Themes</a></li>
        <li><a href="/research#ongoing-projects">Ongoing Projects</a></li>
        <li><a href="/research#publications">Publications</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="{{ "/clinical/" | relLangURL }}">Clinical</a>
    </li>
    <li class="nav-item">
      <a href="{{ "/teaching/" | relLangURL }}">Teaching</a>
    </li>
    <li class="nav-item">
      <a href="{{ "/service/" | relLangURL }}">Service</a>
    </li>
    <li class="nav-item">
      <a href="{{ "/resources/" | relLangURL }}">Resources</a>
    </li>
    <li class="nav-item">
      <a href="{{ "/contact/" | relLangURL }}">Contact</a>
    </li>
  </ul>
</nav>