{{ define "main" }}
<div class="home-container">
  <div class="hero">
    <span class="section-title">{{ .Title }}</span>
  </div>
  <div class="content-sections">
    <!-- Row 1 -->
    <div class="content-row">
      <div class="content-text">
        <p>
          Anxiety and depression profoundly affect individuals by influencing
          their thoughts, emotions, and behaviours. They often coexist, creating
          a compounded burden that disrupts personal relationships, work, and
          overall well-being. While these conditions are common, each person’s
          experience is unique, shaped by a combination of biological,
          psychological, and environmental factors.
        </p>
      </div>
      <div class="content-image">
        <img src="{{ "images/home/row1.png" | relURL }}" alt="Image for row 1">
      </div>
    </div>

    <!-- Row 2 -->
    <div class="content-row">
      <div class="content-image">
        <img src="{{ "images/home/row2.png" | relURL }}" alt="Image for row 2">
      </div>
      <div class="content-text">
        <p>
          At the Clinical Translational Science Lab, we strive to untangle this
          complexity by investigating the core processes that drive anxiety and
          depression. This includes exploring how individuals respond to stress,
          how negative thought patterns develop, and how these conditions alter
          cognitive and emotional regulation. Our research emphasises a nuanced
          understanding of these disorders to pave the way for more targeted and
          effective interventions.
        </p>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="content-row">
      <div class="content-text">
        <p>
          Ultimately, our lab seeks to bridge research and practice, translating
          findings into actionable strategies for treatment and prevention.
          Through a deeper understanding of anxiety and depression, we hope to
          improve mental health outcomes and enhance resilience in those
          affected.
        </p>
      </div>
      <div class="content-image">
        <img src="{{ "images/home/row3.png" | relURL }}" alt="Image for row 3">
      </div>
    </div>
  </div>
</div>

<section class="section">
  <!-- Join Us! -->
  <div class="section-title">Join Us!</div>
  <div class="join-us-section">
    <img src="{{ "images/people/group-pic.png" | relURL }}" alt="Lab Group"
    class="group-picture" />
    <div class="join-us-text">
      <p>
        If you are a <b>graduate or undergraduate</b> student passionate about
        research in clinical psychology, or a <b>collaborator</b>, scroll down
        to learn more about opportunities to get involved in our lab.
      </p>

      <p>
        If you are <b>seeking clinical training</b>, or are interested in
        inviting Dr. Hsu to
        <b>deliver a speech on mental health or clinical psychology</b>, you are
        also in the right place.
      </p>

      <p>
        No matter your interest, we’re glad you’re here! Indicate your interest
        here!
      </p>

      <div class="join-us-row">
        <button
          onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSciivM9lcNshEu4mnd9NkdQ0NK14LTX9eGnQVVrEH2zMKv16Q/viewform', '_blank')"
        >
          Interest Form
        </button>
      </div>
    </div>
  </div>
</section>
{{ end }}
